#layout
	#layoutLeft
		table#VerColMenu
			thead#online
				tr
					th(colspan=4) Online
			tbody#online
				tr
					td ABC1234A
					td 93 km/h
					td Woodlands
				tr
					td ABC1235B
					td 91 km/h
					td Choa Chu Kang
			
			thead#inactive
				tr
					th(colspan=4) Inactive
                
			tbody#inactive
			
			thead#offline
				tr
					th(colspan=4) Offline
              
	#layoutRight
		#main